<h1 mat-dialog-title>Todo creation</h1>
<mat-dialog-content>
  <div>
    <form [formGroup]="todoForm" (ngSubmit)="confirm()">
      <mat-form-field class="input-full-width">
        <input formControlName="title" matInput placeholder="Title">
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <textarea matInput formControlName="description" placeholder="Description"></textarea>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()" type="button" color="warn">

    Cancel
  </button>
  <button mat-stroked-button type="submit" (click)="confirm()" type="button" color="primary">

    Envoyer
  </button>
</mat-dialog-actions>