<h1>Todo App</h1>
<button mat-raised-button (click)="onNewTodo()">Create new Todo</button>
<div *ngIf="todoListState$ | async as todoListState">

  <mat-list fxLayout="column" fxLayoutAlign="center stretch" class="bg-darkKhaki">

    <ng-container *ngFor="let todo of todoListState.todos">
      <mat-list class="p-20" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="todo.isDone == false">
        <h3>
          {{todo.title}}
        </h3>
        <div>
          <button [routerLink]="[ '/todo', todo.id ]" mat-button> Détail</button>
          <mat-checkbox (click)="onSelected(todo.id,todo.isDone)" [(checked)]="todo.isDone"></mat-checkbox>
        </div>
      </mat-list>
      <mat-divider *ngIf="todo.isDone == false"></mat-divider>
    </ng-container>

    <ng-container *ngFor="let todo of todoListState.todos">
      <mat-list class="p-20" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="todo.isDone == true">
        <h3 class="line-through">
          {{todo.title}}
        </h3>
        <div>
          <button [routerLink]="[ '/todo', todo.id ]" mat-button> Détail</button>
          <mat-checkbox (click)="onSelected(todo.id,todo.isDone)" [(checked)]="todo.isDone"></mat-checkbox>
        </div>
      </mat-list>
      <mat-divider *ngIf="todo.isDone == true"></mat-divider>
    </ng-container>

  </mat-list>



</div>