<h1 class="m-20">Todo App</h1>

<button class="m-20" mat-raised-button (click)="onNewTodo()">Create new Todo</button>

<mat-card class="bg-goldenrod" *ngIf="todoListState$ | async as todoListState">

  <mat-list fxLayout="column" fxLayoutAlign="center stretch" >

    <ng-container *ngFor="let todo of todoListState.todos">
      <mat-list class="p-20" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="todo.isDone === false">
        <h3>
          {{todo.title}}
        </h3>
        <div>
          <button [routerLink]="[ '/todo', todo.id ]" mat-button> Détail</button>
          <mat-checkbox (click)="onSelected(todo.id,todo.isDone)" [(checked)]="todo.isDone"></mat-checkbox>
        </div>
      </mat-list>
     
    </ng-container>

    <ng-container *ngFor="let todo of todoListState.todos">
      <mat-list class="p-20" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="todo.isDone === true">
        <h3 class="line-through">
          {{todo.title}}
        </h3>
        <div>
          <button [routerLink]="[ '/todo', todo.id ]" mat-button> Détail</button>
          <mat-checkbox color="primary" (click)="onSelected(todo.id,todo.isDone)" [(checked)]="todo.isDone"></mat-checkbox>
        </div>
      </mat-list>
     
    </ng-container>

  </mat-list>



</mat-card>